.shoppingcart-wrapper {
  active {
  }
  .cart-table-container {
    .ant-table-thead > tr > th {
      background: #fff !important;
      color: #222529;
      font-weight: bold;
      line-height: 2.4rem;
      text-transform: uppercase;
    }
    .quantity-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      .quantity-btn {
        width: 25px;
        padding: 4px 5px;
      }
      .quantity-input {
        width: 41px;
        text-align: center;
        font-weight: 700;
      }
    }
    p {
      margin: 0;
    }
    .item_subtotal {
      width: 100%;

      height: 100%;
    }
    th,
    td {
      text-align: center !important;
    }
  }
  .ant-table-footer {
    margin-top: 30px;
  }
  .footer-table {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .total {
      font-weight: 700;
      font-size: 22px;
      color: #222529;
    }
    .lb-total {
      padding-right: 10px;
      font-weight: 700;
      font-size: 18px;
    }
    .btn-buy-now {
      width: 210px;
      height: 40px;
      margin: 0 15px;
      font-weight: bold;
      color: #fff;
      background-color: #222529;
    }
  }
}
