.product-wrapper {
  .link-handle {
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

  }
  cursor: pointer;
  transition: 0.2s all !important;
  &:hover {
    box-shadow: 0 5px 25px 0 rgb(0 0 0 / 8%);

    // animation:alternate
  }
  position: relative;
  margin-bottom: 10px;
  .product-img {
    margin-bottom: 18px;
    position: relative;
  }
  .label-group {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 2;
    .product-label {
      display: block;
      text-align: center;
      margin-bottom: 5px;
      text-transform: uppercase;
      padding: 5px 11px;
      color: #fff;
      font-weight: 600;
      font-size: 9px;
      line-height: 1;
      border-radius: 12px;
    }
    .label-hot {
      background-color: #2ba968;
    }
    .label-sale {
      background-color: #da5555;
    }
  }
  .product-details {
    width: 100%;
    padding: 5px 14px;
    text-align: center;
    .old-price {
      font-size: 12px;
      color: #999;
      margin-right: 3px;
    }
    .price {
      font-size: 16px;
      font-weight: bold;
      line-height: 1;
    }
  }

  .product-action {
    margin: 5px;
    display: flex;
    justify-content: center;

    .btn-add-to-cart {
      background-color: #2b2b2d;
      font-size: 12px;
      color: #fff;
      margin: 8px 0;
    }
  }
}
