.header-wrapper {
  @borderRadiusLeft: 5rem 0 0 5rem;
  @borderRadiusRight: 0 5rem 5rem 0;
  line-height: normal;

  a {
    color: #555;
  }
  .profile-name {
    font-size: 14px !important;
  }

  @media only screen and (max-width: 500px) {
    .header-top {
      display: none !important;
    }

    .header-middle {
      .header-right {
        margin-left: auto !important;
      }
      .header-middle-wrapper {
        padding: 12px 0 !important;
        top: 0;
        z-index: 20;
        background-color: #fff;
        position: fixed;
        border-bottom: 1px #e6ebee solid;
      }
      .header-logo {
        padding-right: 32px;
        display: flex;
        align-items: center;
        img {
          height: 32px;
        }
        .menu-icon {
          display: block !important;
        }
      }
    }
    .header-bottom {
      display: none !important;
    }

    .search-container {
      display: none !important;
    }

    .menu {
      display: block !important       ;
    }
  }
  .menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #fff;
    z-index: 3;
    top: 74px;
    padding: 8px 4px;
    display: none;
    background-color: #222529;

    .menu-list {
      margin-top: 18px;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      font-weight: 400;
      text-transform: uppercase;
      padding-bottom: 18px;
      border-bottom: 1px solid #696969;
      a {
        color: #fff;
        padding: 12px 0;
        &:hover {
          color: #ff9601;
        }
      }
    }
    .authors {
      display: flex;
      flex-direction: column;
      margin-top: 12px;
      font-size: 14px;
      a {
        color: #fff;
        padding: 12px 0;
        &:hover {
          color: #ff9601;
        }
      }
    }
  }
  .header-top {
    height: 42px;
    display: flex;
    border-bottom: 1px solid #e7e7e7;
    justify-content: flex-end;
    width: 100%;
    a {
      font-family: "Roboto";
      color: #777;
      padding: 0px 11px;
      font-weight: bold;
      line-height: 30px;
      font-size: 12px;
    }
    a:hover {
      opacity: 0.8;
    }
  }

  .header-fixed {
    display: flex;
  }

  .header-middle {
    padding: 32px 0;
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    .header-middle-wrapper {
      width: 100%;
    }
    .container {
      display: flex;
    }
    .header-logo {
      padding-right: 32px;
      display: flex;
      align-items: center;
      img {
        height: 42px;
        margin-top: 7px;
      }
      .menu-icon {
        display: none;
        font-size: 32px;
        cursor: pointer;
        margin-right: 18px;
      }
    }
    .search-container {
      flex: 1;
      margin: auto;
    }
    .ant-input {
      border-radius: @borderRadiusLeft;
      background-color: #f4f4f4;
      height: 40px;
      border: none;
      outline: none;
    }
    .ant-input-group-addon {
      background-color: transparent;
      button {
        border-radius: @borderRadiusRight !important;
        min-width: 40px;
        height: 40px;
        color: #222529;
        font-size: 16px;
        background-color: #f4f4f4;
        outline: none;
        border: none;
      }
    }
    .header-right {
      margin-left: 24px;
      display: flex;
      align-items: center;
      a {
        color: #222529;
      }
    }
  }
  .header-bottom {
    border-top: 1px solid #e7e7e7;
    height: 58px;

    .container {
      display: flex;
    }
    .header-bottom-wrapper {
      top: 0;
      width: 100%;
      z-index: 4;
      background-color: #fff;
    }
    .header-bottom-left {
      display: flex;
      flex: 1;
      a {
        line-height: 58px;
        font-size: 13px;
        padding: 0 20px;
        height: 100%;
        box-sizing: border-box;
        font-weight: bold;

        text-transform: uppercase;
        &:hover {
          border-top: 1px solid;
        }
      }
      a:first-child {
        padding: 0 20px 0 0 !important;
      }
    }

    .header-bottom-right {
      display: none;

      a {
        color: #222529;
      }
    }
  }
}
.shopping-cart-drawer {
  .ant-drawer-body {
    padding-right: 6px !important;
  }
  .cart-products-container {
    .cart-products {
      max-height: 592px;
      overflow: auto;
      padding-right: 14px;
    }
    .product {
      display: flex;
      margin: 0 !important;
      padding: 10px 0;
      align-items: center;
      border-bottom: 1px solid #e6ebee;
      box-shadow: none !important;
      font-family: Poppins, sans-serif;
    }
    .product-title {
      p {
        overflow: hidden;
      }
      text-align: left;
      padding-right: 15px;
      margin-bottom: 11px;
      font-size: 14px;
      line-height: 19px;
      color: #222529;
      font-weight: 500;
    }
    .product-price {
      color: #696969;
    }
    .product-img {
      padding: 0 12px;
    }
  }
  .cart-total {
    font-weight: bold;
    line-height: 38px;
    font-size: 13px;
    font-family: Poppins, sans-serif;
  }
  .total-price {
    padding-right: 12px;
    text-align: right;
    font-size: 15px;
  }
  .cart-action {
    display: flex;
    flex-direction: column;
    .view-cart {
      margin: 6px 0;
      background: #e7e7e7;
      color: #222529 !important;
    }
    .checkout {
      background: #222529;
    }
    .btn {
      padding: 12px 20px 14px;
      text-align: center;
      border-radius: 4px;
      color: #fff;
      height: auto;
      font-size: 14px;
      font-weight: 600;
      font-family: Poppins, sans-serif;
      letter-spacing: 0.025em;
      border-color: transparent;
    }
  }
}
